

body{
  background-color: black;
  margin:0;
}

#wrapperDiv{
  background-color: #003129;
  height: 833px;
  width: 800px;
  border: solid black 1px;
  margin:auto;
  margin-top: 20px;
}

.button{
  width:160px;
  background-color: lightblue;
  font-size: 14px;
  border-radius: 0px;
  font-family: "Courier";
  padding: 10px;
  margin: 5px;
}
